//@use "bulma/bulma.scss";
@use "../../css/main.scss";
@use "../../css/variables.scss";

$toolbar-height: variables.$toolbar-height;
$month-item-header-height: 28px;
$month-label-height: 28px;
$calendar-gap: 1px;

.toolbar {
  border: 1px solid #cacaca;
  padding: 0.25rem 0;
  box-shadow: 1px 1px 1px #0a0a0a1a;
}

.day-view {
  height: calc(100% - $toolbar-height - variables.$tabs-height);
  overflow-y: auto;
}

.entry-item {
  border: 1px solid main.$blue;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: hsl(219, 70%, 96%);
  cursor: default;
  overflow-x: hidden;
  text-overflow: ellipsis;

  & .entry-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.week-container {
  height: calc(100% - variables.$tabs-height - $toolbar-height);
}

.week-item {
  //padding: 5px;
  border: 1px solid black;
  width: 14%;
  overflow-x: hidden;
  //display: flex;
  //flex-direction: column;
}

.week-items {
  overflow-y: auto;
}

.calendar {
  height: calc(100% - variables.$tabs-height - $toolbar-height);
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: $month-label-height repeat(6,
      calc((100% - $month-label-height - (6 * $calendar-gap)) / 6));
  gap: $calendar-gap;
}

.calendar-item {
  border: 1px solid black;
}

.calendar-item-label {
  padding: 2px 0 2px 10px;
  background-color: beige;
}

.calendar-items {
  height: calc(100% - $month-item-header-height);
  overflow-y: auto;
}

.calendar-item-label:hover {
  background-color: hsl(219, 70%, 96%);
}

.calendar-item-header {
  border: 1px solid main.$blue;
  padding: 0px 5px 5px 10px;
  background-color: hsl(219, 70%, 96%);
  color: main.$blue;
}

.calendar-entry {
  border: 1px solid main.$blue;
  border-radius: 10px;
  padding: 0 5px;
  margin: 2px 2px;
  background-color: hsl(219, 70%, 96%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 10pt;
  color: main.$blue;
}

.week-item-header {
  padding: 2px 0 2px 10px;
  background-color: beige;
}

.week-entry {
  border: 1px solid main.$blue;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: hsl(219, 70%, 96%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 36px;
  color: main.$blue;
}