$orange: hsl(14, 100%, 53%);
$yellow: hsl(44, 100%, 77%);
$green: hsl(153, 53%, 53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(207, 61%, 53%);
$blue: hsl(229, 53%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 86%, 61%);

@use "bulma/sass" with ($orange: $orange,
    $yellow: $yellow,
    $green: $green,
    $turquoise: $turquoise,
    $cyan: $cyan,
    $blue: $blue,
    $purple: $purple,
    $red: $red);