@use "bulma/bulma.sass";

.table-container {
  border-bottom: 1px solid hsl(0, 0%, 71%);
  max-height: 90%;
  overflow-y: auto;
}

.board-item {
  border: 1px solid bulma.$blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: hsl(219, 70%, 96%);
  cursor: default;
}

.board-item:hover {
  box-shadow: 5px 5px 5px lightgray;
  margin-bottom: 20px;
}

.item-details {
  display: none;
}

.board-item:hover .item-details {
  display: block;
}

.task-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 40%;
}
