@use "bulma/bulma.scss";
@use "../../css/variables.scss";

$boardHeaderHeight: 38px;

.tasks-table-container {
  //border-bottom: 1px solid hsl(0, 0%, 71%);
  height: calc(100% - variables.$tabs-height);
  overflow-y: auto;

  table {
    table-layout: fixed;
  }

  td {
    max-width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.tasks-list {
  height: calc(100% - variables.$tabs-height - variables.$toolbar-height - 16px);
  overflow-y: auto;
}

.board-item {
  border: 1px solid variables.$bulma-blue;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: hsl(219, 70%, 96%);
  cursor: default;
}

.board-item:hover {
  box-shadow: 5px 5px 5px lightgray;
  margin-bottom: 20px;
}

.item-details {
  display: none;
}

.board-item:hover .item-details {
  display: block;
}

.task-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 40%;
}

.board-column {
  height: calc(100% - variables.$tabs-height);
  border-right: 1px solid lightgray;

  header {
    background-color: beige;
    border: 1px solid gray;
    border-left: 0px;
  }

  header :last-child {
    border-left: 1px solid gray;
  }

  article {
    height: calc(100% - $boardHeaderHeight);
    overflow-y: auto;
  }
}